{% macro field_input(field) %}
<div class="form-group">
    {{field.label}}
    {{field}}
    {% if field.errors %}<ul class="errors">{% for error in field.errors %}<li>{{error}}</li>{% endfor %}</ul>{% endif %}
</div>
{% endmacro %}
{% macro flash_messages(messages) %}
{% for message in messages %}
<div class="alert alert-warning alert-dismissible" role="alert">{{message}}<button type="button" class="close" aria-label="Dismiss message" title="Dismiss message"><span aria-hidden="true">&times;</span></button></div>
{% endfor %}
{% endmacro %}