<div class="card">
    <div class="card-header">
        Sign in to edit data
    </div>
    <div class="card-body">
        <div class="container">
            <form id="sign-up-form" data-route="{{request.script_root}}/signin">
                <div class="form-group">
                    <label for="email">Email Address:</label>
                    <input type="email" name="email">
                </div>
                
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" name="password">
                </div>
                
                <div class="form-group">
                    <button type="submit" class="btn btn-info">Sign In</button>
                </div>
            </form>
        </div>
        <!-- <div class="container">
            <a href="#">Forgot Password?</a>
        </div> -->
        <div class="container">
            <a href="{{request.script_root}}/signup-form">Sign up</a>
        </div>
    </div>
</div>