<!DOCTYPE html>
<html>
  <head>
		<script type ="text/javascript"> 
			// This will allow the js code to be more dynamic with the url calls
			// meaning when we deploy the app we dont need to modify the fetch calls every time
			let $SCRIPT_ROOT = {{request.script_root|tojson|safe }};
			console.log("$SCRIPT_ROOT");
			console.log($SCRIPT_ROOT);
			$SCRIPT_ROOT = $SCRIPT_ROOT.replace('/','');
		</script>
		<link rel="stylesheet" href="{{url_for('static', filename='edit_submission.css')}}">
		<script src="{{url_for('static', filename='html_to_json.js')}}"></script>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		
  </head>
  <body>
	<div class="container-fluid">
		<div class="row" style="margin-top: 40px; margin-bottom: 40px;">
			<div class="subEditor card mx-auto">
				<div class="card-header">
					<h1>Submission Editor</h1>
				</div>
				<div class="card-body">
					<div class="container-fluid">
						<div class="row">
							{% for k in login_fields %}
							<div class="col-sm-3">
								<h5><strong>{{k}}:</strong> <br><span id="current-{{k}}">{{login_fields[k]}}</span></h5>
							</div>
							{%endfor%}
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 offset-md-3">
							<div class="card-deck mb-3" style="margin-top: 40px">
								<div class="card mb-4 box shadow">
									<div class="card-header">
										<h4>Download Template</h4>
									</div>
									<div class="card-body">
										<p>Download the excel spreadsheet of the current data, make your changes, then save.</p>
										<div class="download-button-wrap header-element">
											<a href="{{request.script_root}}/submission-download" target="_blank">Download</a>
										</div>
									</div>
								</div>
								<div class="card mb-4 box shadow">
									<div class="card-header">
										<h4>Choose File</h4>
									</div>
									<div class="card-body">
										<p>Browse for and select the excel file you would like to upload.</p>
										<form method="post" enctype="multipart/form-data" id="upload-form">
											<input id="file" type="file" name = "files[]" style="margin-bottom: 10px;">
											<input type="submit" value="Upload File" name="submit">
										</form>
										<div class="file-upload-container">
											<div class="file-upload">		
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="datatable-container changedrecords" id="changed-records-datatable-container">
						<span class="datatable-label">Changed Records</span>
						<div class="dataTable" style="margin-top: 30px;">
							<div class="records-display-outer-container">
								<div class="records-display-inner-container">	
								</div>
							</div>
						</div>
					</div>
					<div class="datatable-container hidden addedrecords" id="added-records-datatable-container">
						<span class="datatable-label">Added Records</span>
						<div class="dataTable" style="margin-top: 30px;">
							<div class="added-records-display-outer-container">
								<div class="added-records-display-inner-container">	
								</div>
							</div>
						</div>
					</div>
					<div class="datatable-container hidden deletedrecords" id="deleted-records-datatable-container">
						<span class="datatable-label">Deleted Records</span>
						<div class="dataTable" style="margin-top: 30px;">
							<div class="deleted-records-display-outer-container">
								<div class="deleted-records-display-inner-container">	
								</div>
							</div>
						</div>
					</div>
					<div class="submit-button-wrap header-element" style="margin-top: 30px;">
						<form action="{{request.script_root}}/final_submit" method="GET" style="float: right;" target = "_blank" onSubmit="return confirm('Are you sure you wish to submit this data?');">
							<input id="finalize-submission" type="submit" value="Finalize Change Request" class="hidden post-change-option">
						</form>
						<form action="{{request.script_root}}/download_change_history" method="GET" target = "_blank" style="float: right;">
							<input id="submit-submission" type="submit" value="Download receipt" class="hidden post-change-option">
						</form>
						<input id="create-json" type="button" value="Save current changes" onclick="htmlToJSON()" class="hidden post-change-option">
					</div>
				</div>
			</div>
		</div>
	</div>
		
  </body>
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
		<script src="{{url_for('static', filename='edit_submission.js')}}"></script>
		<script src="{{url_for('static', filename='format_table.js')}}"></script>
</html>