{% extends 'base.jinja2' %}
{% block head %}
{{ super() }}
    <link rel="stylesheet" href="{{url_for('static', filename='edit_submission.css')}}">
    <script type="module" src="{{url_for('static', filename='save.js')}}"></script>
{% endblock %}
{% block session_user_info %} {{ super() }} {% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="row" style="margin-top: 40px; margin-bottom: 40px;">
        <div class="subEditor card mx-auto">
            <div class="card-header">
                <h1>Submission Editor</h1>
            </div>
            <div class="card-body">
                <div class="container-fluid">
                    <div class="row">
                        <a href="{{request.script_root}}">Click here to start a new session</a>
                    </div>
                    <br>
                    <div class="row">
                        {% for k in login_fields %}
                        <div class="col">
                            <h5><strong>{{k}}:</strong> <span id="current-{{k}}">{{login_fields[k]}}</span></h5>
                        </div>
                        {%endfor%}
                    </div>

                </div>
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card mb-4 box shadow">
                            <div class="card-header">
                                <h4>Download Submission File</h4>
                            </div>
                            <div class="card-body">
                                <p>Download the excel spreadsheet of your current data, make your changes, then save.</p>
                                <div class="download-button-wrap header-element">
                                    <a href="{{request.script_root}}/submission-download" target="_blank">Download</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card mb-4 box shadow">
                            <div class="card-header">
                                <h4>Choose File</h4>
                            </div>
                            <div class="card-body">
                                <p>
                                    Browse for and select the excel file you would like to upload. 
                                </p>
                                <p>
                                    You may also drag and drop the file anywhere on the page, just like the checker application
                                </p>
                                <form method="post" enctype="multipart/form-data" id="upload-form">
                                    <input id="file" type="file" name = "files[]" style="margin-bottom: 10px;">
                                    <input type="submit" value="Upload File" name="submit">
                                </form>
                                <div class="file-upload-container">
                                    <div class="file-upload">       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card mb-12 box shadow">
                            <div class="card-header">
                                <h4>Additional Instructions</h4>
                            </div>
                            <div class="card-body">
                                <p>
                                    You may edit the data in the "changed records" table to fix errors, or to make last minute adjustments. 
                                    However, you will not be allowed to edit the records in the "deleted records" or "added records" tables.
                                </p>
                                <p>
                                    To make adjustments to those tables, you must edit the excel file, refresh the page and re-upload it.
                                </p>
                                <p>
                                    This application runs a comparison between your previous submission, and the edited excel file which you upload, 
                                    and then makes the requested modifications to the submission.
                                </p>
                            </div>
                        </div>
                    
                    </div>
                </div>
                <div id="change-report-container" class="hidden">
                    <div class="row">
                        <div id="datatable-tabs">
                            <button type="button" class="btn btn-primary datatable-tab-button active" data-target="changed-records-datatable-container">Changed Records</button>
                            <button type="button" class="btn btn-primary datatable-tab-button" data-target="added-records-datatable-container">Added Records</button>
                            <button type="button" class="btn btn-primary datatable-tab-button" data-target="deleted-records-datatable-container">Deleted Records</button>
                        </div>
                    </div>
                    <div class="datatable-container changedrecords active" id="changed-records-datatable-container">
                        <span class="datatable-label">Changed Records</span>
                    
                        <div id="changed-records-display-inner-container" class="records-display-inner-container"> 
                            <div id="changed-records-loader-gif-container" class="hidden"></div>
                            <div id="changed-records-table-container" class="records-table-container"></div>
                        </div>
                
                    
                    </div>
                    <div class="datatable-container addedrecords" id="added-records-datatable-container">
                        <span class="datatable-label">Added Records</span>
                        <div class="dataTable" style="margin-top: 30px;">
                            <div id="added-records-display-outer-container" class="records-display-outer-container">
                                <div id="added-records-display-inner-container" class="records-display-inner-container"> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="datatable-container deletedrecords" id="deleted-records-datatable-container">
                        <span class="datatable-label">Deleted Records</span>
                        <div class="dataTable" style="margin-top: 30px;">
                            <div id="deleted-records-display-outer-container" class="records-display-outer-container">
                                <div id="deleted-records-display-inner-container" class="records-display-inner-container">   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="submit-button-wrap header-element" style="margin-top: 30px;">
                    <form 
                        action="{{url_for('finalize.savechanges')}}" 
                        method="GET" 
                        style="float: right;" 
                        onSubmit="(function(){window.onbeforeunload = undefined; return confirm('Are you sure you want to finalize this change request?');})();"
                    >
                        <input id="finalize-submission" type="submit" value="Finalize Change Request" class="hidden post-change-option">
                    </form>
                    <form action="{{url_for('export.download_change_history')}}" method="GET" target = "_blank" style="float: right;">
                        <input id="submit-submission" type="submit" value="Download Change Summary" class="hidden post-change-option">
                    </form>
                    <input id="save-change-btn" type="button" value="Save current changes" class="hidden post-change-option">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block tooltip %}
<div class="tooltip" id="changed-cell-tooltip">
    <div class="title"></div>
    <div class="content"></div>
</div>
{% endblock %}
{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script type="module" src="{{url_for('static', filename='edit_submission.js')}}"></script>
    <script src="{{url_for('static', filename='format_table.js')}}"></script>
    {{ super() }}
{% endblock %}
