<!DOCTYPE html>
  <head>
    <title>SCCWRP Data Change Request</title>
	<link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSN1KajqxT6Orr6rQ1jb4BpLDf3wUnunW9ZvWwy_WWFrg&s">
	<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
	<script type ="text/javascript"> 
		// This will allow the js code to be more dynamic with the url calls
		// meaning when we deploy the app we dont need to modify the fetch calls every time
		let $SCRIPT_ROOT = {{request.script_root|tojson|safe }};
		console.log("$SCRIPT_ROOT");
		console.log($SCRIPT_ROOT);
		$SCRIPT_ROOT = $SCRIPT_ROOT.replace('/','');
	</script>
  	<!--<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script> 
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
	<script src ="https://code.jquery.com/jquery-latest.min.js"></script> 
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>-->
	<link rel="stylesheet" href="{{url_for('static',filename='changerequest.css')}}" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <style>

	</style>
  <body>

  <div class="container main-container">
	<br>
		<!--bootstrap-->
		<div class="container">
			<div class="d-flex justify-content-center h-100">
				<div id="login-form-container">
					<div class="card">
						<div class="card-header">
							<h4>Choose a Datatype</h4>
							<nav class="navbar navbar-light bg-light navbar-top" id="main-top-navbar">
								{% for dtype in dtypes.keys() %}
									{% if loop.index == 1 %}
									<div class="nav-item col-sm tab-header infotab-header active" id="{{dtype}}-header" data-dtype="{{dtype}}">
										{{dtypes[dtype]['human_friendly_dtype_name']}}
									</div>
									{% else %}
									<div class="nav-item col-sm tab-header infotab-header" id="{{dtype}}-header" data-dtype="{{dtype}}">
										{{dtypes[dtype]['human_friendly_dtype_name']}}
									</div>
									{% endif %}
								{% endfor %}
							</nav>
						</div>
						<div class="card-body">
						{% for dtype in dtypes.keys() %}
							{% if loop.index == 1 %}
							<div class="form-container" id="{{dtype}}-form-container" data-dtype="{{dtype}}">
							{% else %}
							<div class="form-container hidden" id="{{dtype}}-form-container" data-dtype="{{dtype}}">
							{% endif %}
								<form class="fetch-submission-form" id="{{dtype}}-form" data-dtype="{{dtype}}">
									<div class="input-group form-group">
										<div class = "select-form-container">
											<label for="session_email">Enter your email address:</label>
											<input type="email" name="session_email" placeholder="name@example.com" class="login-field-element {{dtype}}-login-field-element" data-dtype="{{dtype}}">
										</div>
									</div>
									{% for field in dtypes[dtype]['login_fields'] %}
									<div class="input-group form-group">
										<div class = "{{field.fieldtype}}-form-container">
											<label for="{{field.fieldname}}">{{field.fieldname}}:</label>
											<{{field.fieldtype}} name="{{field.fieldname}}" id="{{dtype}}-{{field.fieldname}}-{{field.fieldtype}}" class="login-field-{{field.fieldtype}} login-field-element {{dtype}}-login-field-{{field.fieldtype}} {{dtype}}-login-field-element" data-dtype="{{dtype}}" data-index="{{loop.index}}">
											{% if field.fieldtype == 'select' %}
											</{{field.fieldtype}}>
											{% endif %}
										</div>
									</div>
									{% endfor %}
									<div class="input-group form-group">
										<div class = "select-form-container">
											<label for="submissionid">Submission ID:</label>
											<select name="submissionid" id="{{dtype}}-submissionid-select" class="login-field-select {{dtype}}-login-field-select {{dtype}}-login-field-element" data-dtype="{{dtype}}">
											</select>
										</div>
									</div>
									
									<div class="input-group form-group">
										<div class = "select-form-container">
											<label for="tablename">Table you will be editing:</label>
											<select name="tablename" id="{{dtype}}-tablename-select" class="login-field-select {{dtype}}-login-field-select {{dtype}}-login-field-element" data-dtype="{{dtype}}">
												{% for tbl in dtypes[dtype]['tables']%}
												<option value="{{tbl}}">{{tbl}}</option>
												{% endfor %}
											</select>
										</div>
									</div>

									
									
									<!--<div class="form-group">
										<button id="{{dtype}}-submission-preview" class="btn btn-info btn-submission-preview" data-dtype="{{dtype}}">Preview Submission</button>
									</div> -->

									<div class="form-group">
										<button data-dtype="{{dtype}}" id="{{dtype}}-form-submit" class="btn login_btn">Go</button>
									</div>
								</form>
							</div>
						{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end bootstrap-->

	</div>

	<div id="overlay">
		<div id="overlay-text-container">
			<p>Loading Data...</p>
			<img src="{{url_for('static', filename='loading.gif')}}">
		</div>
	</div>
  </body>

<script src="{{url_for('static',filename='login_form.js')}}"></script>
</html>