{% extends 'base.jinja2' %}
{% from 'auth-fields.jinja2' import field_input, flash_messages %}
{% block body %}
<section class="auth-layout">
    <span class="eyebrow">{{config.get('projectname', '')}} / Account recovery</span>
    <h1>Set a new password</h1>
    {{flash_messages(get_flashed_messages())}}
    <form id="reset-password-form" method="POST">
        {{form.csrf_token}}
        {{field_input(form.password)}}
        {{field_input(form.confirm_password)}}
        <div class="form-group">{{form.submit}}</div>
    </form>
    <div class="auth-links"><a href="{{url_for('auth.signin')}}">Back to sign in</a></div>
</section>
{% endblock %}