<!DOCTYPE html>
<html>
<head>
    <script>
		let $SCRIPT_ROOT = {{request.script_root|tojson|safe }};
		console.log("$SCRIPT_ROOT");
		console.log($SCRIPT_ROOT);
		$SCRIPT_ROOT = $SCRIPT_ROOT.replace('/','');
	</script>
    <link rel="stylesheet" href="{{url_for('static',filename='changerequest.css')}}" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
    <div class="card">
        <div class="card-header">
            Sign up to be authorized to edit data
        </div>
        <div class="card-body">
            {% for message in get_flashed_messages() %}
                <div class="alert alert-warning">
                    <button
                    type="button"
                    class="close"
                    data-dismiss="alert">
                    x
                    </button>
                    {{ message }}
                </div>
            {% endfor %}
            <form id="sign-up-form" method="POST" action="{{request.script_root}}/auth/signup">
                {{form.csrf_token}}
                <div class="form-group">
                    <fieldset>
                        {{form.firstname.label}}
                        {{form.firstname}}
                    </fieldset>
                </div>
                
                <div class="form-group">
                    <fieldset>
                        {{form.lastname.label}}
                        {{form.lastname}}
                    </fieldset>
                </div>
                
                <div class="form-group">
                    <fieldset>
                        {{form.email.label}}
                        {{form.email}}
                        {% if form.email.errors %}
                        <ul class="errors">
                            {% for error in form.email.errors %}
                            <li>{{ error }}</li>{% endfor %}
                        </ul>
                        {% endif %}
                    </fieldset>
                </div>
                
                <div class="form-group">
                    <fieldset>
                        {{form.organization.label}}
                        {{form.organization}}
                        {% if form.organization.errors %}
                        <ul class="errors">
                            {% for error in form.organization.errors %}
                            <li>{{ error }}</li>{% endfor %}
                        </ul>
                        {% endif %}
                    </fieldset>
                </div>
               
                <div class="form-group">
                    <fieldset>
                        {{form.password.label}}
                        {{form.password}}
                        {% if form.password.errors %}
                        <ul class="errors">
                            {% for error in form.password.errors %}
                            <li>{{ error }}</li>{% endfor %}
                        </ul>
                        {% endif %}
                    </fieldset>
                </div>

                <div class="form-group">
                    <fieldset>
                        {{form.confirm.label}}
                        {{form.confirm}}
                        {% if form.confirm.errors %}
                        <ul class="errors">
                            {% for error in form.confirm.errors %}
                            <li>❗ {{ error }}</li>{% endfor %}
                        </ul>
                        {% endif %}
                    </fieldset>
                </div>

                <div class="form-group submit-button">
                    <fieldset>
                        {{form.submit}}
                    </fieldset>
                </div>

            </form>
        </div>
    </div>
    <script src="{{url_for('static',filename='misc.js')}}"></script>
</body>
</html>