{% extends 'base.jinja2' %}
{% from 'auth-fields.jinja2' import field_input, flash_messages %}
{% block body %}
<section class="auth-layout">
    <span class="eyebrow">{{config.get('projectname', '')}} / Agency access</span>
    <h1>Sign in</h1>
    {{flash_messages(get_flashed_messages())}}
    <form id="sign-up-form" method="POST" action="{{url_for('auth.signin')}}">
        {{form.csrf_token}}
        {{field_input(form.email)}}
        {{field_input(form.password)}}
        <div class="form-group">{{form.submit}}</div>
    </form>
    <div class="auth-links"><a href="{{url_for('auth.signup')}}">Create an account</a><a href="{{url_for('auth.reset_request')}}">Forgot password?</a></div>
</section>
{% endblock %}