<!DOCTYPE html>
  <head>
    <title>SCCWRP Data Change Request</title>
	<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
  	<!--<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script> 
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
	<script src ="https://code.jquery.com/jquery-latest.min.js"></script> 	
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>-->
	<link rel="stylesheet" href="{{url_for('static', filename='changerequest.css')}}" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<script>
		let $SCRIPT_ROOT = {{request.script_root|tojson|safe }};
		console.log("$SCRIPT_ROOT");
		console.log($SCRIPT_ROOT);
		$SCRIPT_ROOT = $SCRIPT_ROOT.replace('/','');
	</script>
  </head>
  <style>

	</style>
  {% if not (session.auth_info['AUTHENTICATED'] == True) %}
  	{% include 'auth.jinja' %}
  {% else %}
  <body>

  <div class="container main-container">
	<br>
		<div class="container">
			{%if success%}
				<p>Successful change request received from {{session_user_email}}</p>
				<p>Datatype: {{datatype}}</p>
				<p>Original Submission Date: {{submissiondate}}</p>
				<p>Original Submission ID#: {{submissionid}}</p>
				<p>Change Request ID#: {{change_id}}</p>
				{% for key in login_fields %}
				<p>{{key}}: {{login_fields[key]}}</p>
				{% endfor %}
			{%else%}
				<p>Oops! Something went wrong. SCCWRP staff has been notified.</p>
			{%endif%}
		</div>

	</div>

	
  </body>
<script type ="text/javascript"> var $SCRIPT_ROOT = {{request.script_root|tojson|safe }};  </script>
<script src="{{url_for('static', filename='login_form.js')}}"></script>
  {% endif %}
  <script src="{{url_for('static',filename='auth.js')}}"></script>
</html>